<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<contextName>noxml</contextName>
	<jmxConfigurator />

	<logger name="h2database" level="WARN"/>
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.activemq" level="INFO" />

	<root level="ALL">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%date{ISO8601} | %thread | %-5level | %logger{1} | %msg%n</pattern>
			</encoder>
		</appender>
	</root>
</configuration>